.header-container {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 98vw;
    height: 60px;
    box-shadow: 0px 0px 10px black;
    background-color: var(--dark-blue, "blue");
    color: var(--text-color);
    z-index: 10;

}

.header-container,
.header-right,
.header-left {
    
    display: flex;
    flex-direction: row;

}

.header-right,
.header-left {
    align-items: center;
}
.header-left {
    font-size: 12px;
    letter-spacing: 0.5px;
    gap : 30px;
}
.header-right {
    position: absolute;
    gap: 11px;
    right: 0px;
    color: var(--dark-blue);
    margin-right: 10ch;
    font-size: 12px;
    background-color: var(--main-card-color);
    border-radius: 18px;
    box-shadow: 0px 0px 10px #ebebeb;
    padding-left: 20px;
    padding-right: 20px;

}

.header-menu-icon {
    width: 35px;
    height: 35px;
    color: var(--text-color,"white");
    border: 1px rgb(156, 156, 156) solid;
    border-radius: 6px;
    
    padding  : 3px;
}
.header-team-icon {
    width : 35px;
    height: 35px;
    padding: 3px;
    color: var(--header-team-icon-color,"orange");
       
}