.header-container {
    position: absolute;

    top: 0px;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 10px black;
    background-color: var(--dark-blue, "blue");
    color: var(--text-color);
    z-index: 101;

}

.header-container,
.header-right,
.header-left {

    display: flex;
    flex-direction: row;

}

.header-right,
.header-left {
    align-items: center;
}

.header-left {
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    gap: 0px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    gap: 11px;
    top: 30px;
    right: 0px;
    color: var(--dark-blue);
    margin-right: 4ch;
    background-color: var(--main-card-color);
    border-radius: 18px;
    box-shadow: 0px 0px 10px #ebebeb;
    height: 46px;
    width: 130px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    transition: ease all 0.3s;
}

.header-right:hover {
    box-shadow: 0px 0px 20px #c6c6c6;
}

.page_icon {
    width: 140px;
    height: 140px;
    /* This forces any image to become pure white */
    filter: brightness(0) invert(1);
}

.header-menu-icon {
    position: relative;
    margin-left: 20px;
    width: 38px;
    height: 38px;
    color: var(--text-color, "white");
    border: 1px rgb(156, 156, 156) solid;
    border-radius: 6px;
    background-color: transparent;
    padding: 3px;
}

.header-menu-icon:hover {
    background-color: rgb(241, 241, 241);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    transition: ease all 0.3s;
}

.header-team-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    color: var(--header-team-icon-color, "orange");
}