/* src/index.css */
/* 1. The Regular (Upright) Variable Font */


:root {

    --dark-blue: #00023d;
    --formbackground: #f8f8f8;
    --text-color: #f8f8f8;
    --label-color: #3b3b3b;
    --border-color: rgb(207, 207, 207);
    --icon-color: #e01b1b;
    --orange-color: #db6f00;
    --header-team-icon-color: #f47c00;
    --main-card-color: #ededed;
    --light-gray: #e1e1e1;
    --card-shadow: rgb(150, 139, 139);
    --map-max-height: 690px;

}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 2. The Italic Variable Font */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* 3. Apply it globally */
body {

    font-family: "Roboto";

}

.line {
    width: 110px;
    height: 3px;
    background-color: rgb(182, 182, 182);
    margin-bottom: 15px;
    border-radius: 10px;
}