.monitor-resource-container {
    margin-left: 30px;

}

.monitor-resource-container h1 {
    color: var(--dark-blue, "blue");
    letter-spacing: 1.5px;
    margin-bottom: -2px;

}

.monitor-resource-container .line {
    width: 110px;
    height: 5px;
    background-color: rgb(182, 182, 182);
    margin-bottom: 30px;
    border-radius: 10px;

}

.add-button {
    position: relative;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: gray;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    box-shadow: 0px 0px 5px var(--card-shadow);
    transition: ease all 0.3s;

}
.layout-button {
    margin-right: 20px;
}

.add-button:hover {
    background-color: rgb(240, 239, 239);
    box-shadow: 0px 0px 10px var(--card-shadow, "gray");
}

/*setting default margin for all mode*/
.resouces-flex-layout,
.resource-map-layout {
    margin-top: 30px;
}

/*defualut layout without map*/
.resouces-flex-layout {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/*mode 1 layout with scroll bar and map*/
.resource-map-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resource-map-layout .resource-map-left {
    position: relative;
    background-color: transparent;
    padding: 5px;
    max-width: 600px;
    width: 550px;
    max-height: var(--map-max-height);
    border-radius: 25px;
    height: 580px;
    box-shadow: 0px 0px 5px var(--card-shadow);
 
    transition: ease all 0.5s;

}

.resource-map-layout .resource-map-left .resource-scroll-list {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    max-height: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}

.resource-map-left h2 {
    position: relative;
    min-width: 20ch;
    left: 30px;
    color: var(--dark-blue, "blue");
    letter-spacing: 1.1px;
    width: fit-content;

}

.resource-map-right {
    position: absolute;
    right: 0px;
    width: 500px;
    height: 440px;
}

.close-side-bar-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--dark-blue);
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    box-shadow: 0px 0px 5px var(--card-shadow);
    border: none;
    
    
}

.close-side-bar-icon {
    stroke-width: 2px;
    color: gray;
    width: 29px;
    height: 29px;
    rotate: 0deg;
    transition: ease all 0.4s;
}

/* 1. Set the width of the scrollbar */
.resource-scroll-list::-webkit-scrollbar {

    width: 10px;
    /* Vertical scrollbar width */
    height: 8px;
    /* Horizontal scrollbar height (if needed) */
}

/* 2. Hide the track completely (removes the white space line) */
.resource-scroll-list::-webkit-scrollbar-track {
    background: transparent;
}

/* 3. Style the "scroll button" (thumb) */
.resource-scroll-list::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150);
    /* A nice slate gray color */
    border-radius: 20px;
    /* Fully rounded edges */
}

/* 4. Darken the thumb when hovered for better UX */
.resource-scroll-list::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
}